<div class="info-overlay">
  <div class="info-modal-header">
    <i class="fa fa-info-circle"></i>
  </div>
  <i id="xbutton" ng-click="close()" class="fa fa-times"></i>
  <div class="info-modal-title">
    <h2>Need Help? THIS IS POMIFY 101.</h2>
  </div>
  <!-- <div class="info-modal-description">
    <p>Using Pomify is simple, here's what you need to know.</p>
  </div> -->
  <div class="info-modal-steps">
    <div class="step">
      <img src="https://static.pexels.com/photos/28167/pexels-photo.jpg"/>
      <p>USE OUR SIMPLE TIMER TO STAY FOCUSED AND LEVERAGE THE POMODORO TECHNIQUE TO GET MORE DONE. SIMPLY HIT “PLAY” AND GET TO WORK. YOUR SESSIONS WILL BE SAVED AUTOMATICALLY.
</p>
    </div>
    <div class="step">
      <img src="https://static.pexels.com/photos/9051/pexels-photo.jpg"/>
    </div>
  </div>



</div>

<!-- This closes the modal when you click on the dimmed area around it -->
<div class="fade" ng-click="close('no')"></div>
