<div class="overlay">

  <!-- text variable that we saved to the scope -->
  <br/>

    <div class="images-column">
        <div id="modalCoverPhoto" class="edit-cover-pic" my-modal-cover={{modalCoverPic}}>
            <label for="cover-upload" class="custom-file-upload">
    <i class="fa fa-upload"></i> Upload Cover
</label>
<input id = "cover-upload" class="file-upload-button" type="file" data = "thing2"/>
        </div>
        <div id="modalProfilePhoto" class="edit-profile-pic" my-modal-profile="{{modalProfilePic}}">
            <label for="profile-upload" class="custom-file-upload2">
    <i class="fa fa-upload"></i> Upload Profile
</label>
<input id = "profile-upload" class="file-upload-button" type="file" data="thing1"/>
        </div>
    </div>
    <div class="info-column">
        <i ng-click="close()" class="fa fa-times"></i>
        <div class="info-form">
            <div class="info-form-wrapper">
                <input type="text" placeholder="Name" ng-model="profile.name"/>
                <input type="text" placeholder="Website" ng-model="profile.website"/>
            </div>
        </div>
        <div class="bio-box">
            <textarea type="text" placeholder="Bio" ng-model="profile.bio"></textarea>
            <a href='' ng-click="updateProfile(); reloadPage()">Submit</a>

        </div>
    </div>



</div>

<!-- This closes the modal when you click on the dimmed area around it -->
<div class="fade" ng-click="close('no')"></div>
