<div class="nav-sidebar">
            <div class="sidebar-logo">
                <h2><em>POMTRACKER</em></h2>
            </div>
<!--            <div class="profile-pic"></div>-->
            <div ng-init="getPoms()" class="today-box">
                <div class="today-button">
                    <h4>Today</h4>
                    <h1>{{today.length}}</h1>
                </div>
            </div>
            <a href="#/dash">
            <div class="stats-box">
                <div class="stats-button">
                    <i class="fa fa-clock-o"></i>
                    <h4>Timer</h4>
                </div>
            </div>
            </a>
            <a href="#/profile">
            <div class="chat-box">
                <div class="stats-button">
                    <i class="fa fa-user"></i>
                    <h4>My Profile</h4>
                </div>
            </div>
            </a>
</div>
        <!---END SIDEBAR MENU-->
<div class="dash-container">
    <div class="timer-background">
        <div class="nav">
            <div class="hamburger">
                <i class="fa fa-bars"></i>
            </div>
            <div class="nav-links">
                <p><a class="hvr-underline-from-left" href="/#/">Sign Out</a> </p>
            </div>
        </div>
        <div class='timer'>
            <h1>{{prettyCount}}</h1>
            <i ng-show="play" ng-click="togglePlayButton(); countdown()" class="fa fa-play"></i>
            <i ng-show="stop" ng-click="togglePlayButton(); stopTimer()" class="fa fa-stop"></i>
        </div>
        <!-- <div class="settings">
            <i ng-click="toggleSettings()" class="fa fa-cog"></i>
        </div>
        <div ng-show="settingBtns" class="setting-btns">
            <div class="btn" id="white-btn"></div>
        </div> -->
    </div>
</div>
