<div class="container">
    <div class="hero">
        <div class="nav">
            <div class="nav-logo">
                <h2><em>POMIFY</em></h2>
            </div>
            <div class="nav-links">
                <p><a class="hvr-underline-from-left" href="#/login">Log In</a> </p>
            </div>
        </div>
        <div class="title">
            <h2>Elevate your<br>productivity</h2> 
            <p>Pomify is a worldwide Pomodoro community and <br>competition. Use our simple timer to stay focused, <br>chart your progress over time, connect with other <br>users to hold yourself accountable.</p>
            <div class="home-buttons">
                <a href='#/sign-up'>LEARN MORE</a>
                <a href='#/sign-up'>JOIN FOR FREE</a>
            </div>
        </div>
    </div>
     <div class="info-banner">
        <img src="../Images/profile4.png"/>
        <div class='how-it-works'>
            <h2>How It Works</h2>
        </div>
         <p>Getting started with Pomify is simple: Sign up, use <br> our minimal Pomodoro timer to stay focused, then <br> leverage our automatic stat tracking and vibrant <br>community to skyrocket your productive output. Go <br> ahead, click below to take the first step.</p>
         <a href='/#/sign-up'>Sign up now</a>
    </div>

    <div class="home-pre-footer"></div>
    <div class="home-footer">
        <p>&copy; 2016 Pomify | Created by <a href='http://logangmarshall.com/'>Logan</a></p>
    </div>

</div>