<div class="container">
    <div class="hero">
        <div class="nav">
            <div class="nav-logo">
                <h2><em>POMTRACKER</em></h2>
            </div>
            <div class="nav-links">
                <p><a class="hvr-underline-from-left" href="#/login">LogIn</a></p>
            </div>
        </div>
        <div class="title">
            <h2>Elevate your<br>productivity</h2>
            <p>PomTracker is a global Pomodoro community and <br>competition. Use our simple timer to stay focused, <br>chart your progress over time, connect with other <br>users to hold yourself accountable.</p>
            <div class="home-buttons">
                <!-- <a href='#/sign-up'>LEARN MORE</a> -->
                <a href='#/sign-up'>JOIN FOR FREE</a>
            </div>
        </div>
    </div>
     <div class="info-banner">
       <!-- <div class="video-wrapper">
         <iframe src="https://player.vimeo.com/video/146782320?title=0" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
       </div -->
          <img class="mobile-img" src="./Images/timer-pic.png" />
          <img class="desktop-img" src="./Images/profile6.png"/>
        <div class='how-it-works'>
            <h2>How It Works</h2>
        </div>
         <p>Getting started with PomTracker is simple: Sign up, use <br> our minimal Pomodoro timer to stay focused, and then <br> leverage our automatic stat tracking and vital community <br> to skyrocket your productivity. Go ahead, click below to <br> start your journey towards elevated productivity.</p>
         <a href='/#/sign-up'>Sign up now</a>
    </div>

    <!-- <div class="home-pre-footer"></div> -->
    <div class="home-footer">
        <p>&copy; 2016 Pomify | Created by <a href='http://logangmarshall.com/'>Logan <i class="fa fa-bolt"></i>
</a></p>
    </div>

</div>
