<div class="container">
    <div class="hero">
        <div class="nav">
            <div class="nav-logo">
                <h2><em>POMIFY</em></h2>
            </div>
            <div class="nav-links">
                <p><a class="hvr-underline-from-left" href="#/login">Log In</a> </p>
            </div>
        </div>
        <div class="title">
            <h2>Pomify is a Pomodoro <br> timer on steroids</h2> 
<!--            <p>Use our simple Pomodoro timer to stay focused. Chart your <br> progress over time. Connect and compete with other users <br> to hold yourself accountable. Pomify helps you get sh*t done.</p>-->
            <div class="home-buttons">
                <a href='#/sign-up'>LEARN MORE</a>
                <a href='#/sign-up'>JOIN FOR FREE</a>
            </div>
        </div>
    </div>
</div>