<div class="container">
        <div class="nav">
            <div class="logo">
                <h2><em>POMIFY</em></h2>
            </div>
        </div>
        <div class="log-in-box">
            <div class="sign-up-form">
                <h2>Welcome Back</h2>
                <form>
                    <input type="email" placeholder="EMAIL" ng-model="user.email"/>
                    <input type="password" placeholder="PASSWORD" ng-model="user.password"/>
                </form>
            </div>
        </div>
        <div class="sign-up-btn">
            <a ng-click="login()" class="hvr-sweep-to-bottom" href="">Log In</a>
        </div>
        <div class="sign-up-btn-text">
            <p><a href=''>Forgot your password?</a></p>
        </div>
</div>