<div class="container">
        <div class="nav">
            <div class="hamburger">
                <i class="fa fa-bars"></i>
            </div>
            <div class="nav-links">
                <p><a class="hvr-underline-from-left" href="">Sign Out</a> </p>
            </div>
        </div>
        <div class="stats-banner">
            <div ng-init="getPoms()" class="todays-stats">
                <div class="num">
                    <h1>{{myPoms.length}}</h1>
                    <h4>TODAY</h4>
                </div>
            </div>
            <div class="weekly-stats">
                <div class="num">
                    <h1>23</h1>
                    <h4>THIS <span>WEEK</span></h4>
                </div>
            </div>
            <div class="monthly-stats">
                <div class="num">
                    <h1>117</h1>
                    <h4>THIS <span>MONTH</span></h4>
                </div>
            </div>
        </div>
        <div class="graph">
            <img src="Images/graph.png"/>
        </div>
        <div class="follower-stats">
        </div>
</div>