<div class="nav-sidebar">
            <div class="sidebar-logo">
                <h2><em>POMIFY</em></h2>
            </div>
            <div class="profile-pic"></div>
            <div ng-init="getPoms()" class="today-box">
                <div class="today-button">
                    <h4>Today</h4>
                    <h1>{{today.length}}</h1>
                </div>
            </div>
            <a href="#/stats">
            <div class="stats-box">
                <div class="stats-button">
                    <i class="fa fa-bar-chart"></i>
                    <h4>View Stats</h4>
                </div>
            </div>
            </a>
</div>
<div class="stats-container">
    <div class="stats-content">
        <div class="nav">
            <div class="hamburger">
                <i class="fa fa-bars"></i>
            </div>
            <div class="nav-links">
                <p><a class="hvr-underline-from-left" href="">Sign Out</a> </p>
            </div>
        </div>
        <div class="stats-banner">
            <div ng-init="getPoms()" class="todays-stats">
                <div class="num">
                    <h1>{{bannerToday.length}}</h1>
                    <h4>TODAY</h4>
                </div>
            </div>
            <div class="weekly-stats">
                <div class="num">
                    <h1>{{bannerWeek.length}}</h1>
                    <h4>THIS <span>WEEK</span></h4>
                </div>
            </div>
            <div class="monthly-stats">
                <div class="num">
                    <h1>{{bannerMonth.length}}</h1>
                    <h4>THIS <span>MONTH</span></h4>
                </div>
            </div>
        </div>
        <div ng-init="getBarPoms()" class="chart">
            <div class='ten-day-header'>
                <h3>Last 10 Days</h3>
<!--                <p>(Average: 7 Pomodoros)</p>-->
            </div>
            <canvas ng-show="lineGraph" id="myChart" width="800" height="400"></canvas>
<!--            <canvas ng-show="barGraph" id="barChart" width="800" height="400"></canvas>-->
<!--
            <div class="chart-btns">
                <a ng-click="toggleGraph()" href=''>Switch To Bar Graph View</a>
            </div>
-->
        </div>
        <div class="footer">
            <p>&copy; Pomify 2016 | All Rights Reserved</p>
        </div>
    </div>
</div>