<div class="container">
    <div class="hero">
        <div class="nav">
            <div class="logo">
                <h2><em>POMIFY</em></h2>
            </div>
            <div class="nav-links">
                <p><a class="hvr-underline-from-left" href="">Sign Up</a> | <a class="hvr-underline-from-left" href="">Log In</a> </p>
            </div>
        </div>
        <div class="title">
            <h2>Transform your productivity</h2> 
            <p>Use our simple pomodoro timer to stay focused, chart your <br> progress over time, connect and compete with other users <br> to hold yourself accountable. Pomify helps you get sh*t done.</p>
            <div class="home-buttons">
                <a href=''>Learn More</a>
                <a href='#/sign-up'>Start Now</a>
            </div>
        </div>
    </div>
</div>