.form-control {
    outline: 0;
    border-color: #ECECEC;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    background-color: #ffffff;
    padding: 6px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.05em;
    margin-bottom: 5px;
    font-size: 14px;
    display: flex;
    color: #888787;
}

.angucomplete-holder {
    position: relative;
    display: flex;
}

.angucomplete-dropdown {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.05em;
    font-size: 14px;
    line-height: 35px;
    color: #888787;
    border: 1px solid #ddd;
    width: 206px;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    top: 35px;
    left: 0px;
    margin-top: 0px;
    background-color: #fff;
    
}

.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
}

.angucomplete-description {
    font-size: 14px;
    color: #acacac;
}

.angucomplete-row {
    padding: 5px;
    color: #333;
    height: 40px;
}

.angucomplete-selected-row, .angucomplete-row:hover {
    background-color: #E0E4EF;
    color: #333;
}

.angucomplete-image-holder {
    padding-top: 2px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.angucomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
}

.angucomplete-image-default {
    background-image: url('../Images/profy.jpg');
    background-position: center;
    background-size: cover;
    height: 34px;
    width: 34px;
}
