html, body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/**HOMEPAGE**/

.nav {
    width: 100%;
    height: 50px;
    background-color: #3787BF; 
    position: fixed;
    display: flex;
    z-index: 1000;
}

.logo {
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    display: flex;
    margin-left: 20px;
}

.logo h2 {
    margin: auto 0;
}

.nav-links {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100px;
    right: 0;
    top: 1px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.9em;
}

#userSearch {
    position: relative;
    left: 60px;
    top: 8px;
    height: 28px;
    width: 220px;
    color: #fff;
    font-size: 1.2em;
}

.search-bar input {
    width: 100%;
    height: 25px;
    font-size: 14px;
    line-height: 25px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.03em;
    color: #202934;
}

.search-bar input:focus {
    outline: none;
}

.search-icon {
    position: absolute;
    font-size: 0.9em;
    top: 15.5px;
    left: 300px;
    color: #AAAAAA;
}

.nav-links p {
    margin: auto 0;
    margin-top: 14px;
} 
.nav-links a {
    color: white;
    text-decoration: none;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(255,255,255, 0.85), rgba(255,255,255, 0.85)), url('../Images/pom2.jpg');
/*    background-color: #fff;*/
/*    background-color: #29AF91;*/
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.title {
    margin: auto;
    color: #2f363e;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.title h1 {
    font-size: 5em;
    margin-bottom: 0;
}

.title h2 {
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.02em;
    margin-bottom: 0;
}

.title p {
    font-family: 'Open Sans', serif;
    font-size: 20px;
    font-size: 400;
    line-height: 28px;
    letter-spacing: 0.05em;
}

.title span {
    border-bottom: 5px solid #3787BF;
    padding-bottom: -15px;
    color: #3787BF;
}

.home-buttons {
    margin-top: 50px;
}

.title a {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 14px 18px;
    margin-right: 10px;
    background-color: #37b650;
    border: 2px solid #29863b;
}

.title a:first-child {
    background-color: #EF4B50;
    border: 2px solid #b43337;
}

/**SIGN UP PAGE**/

.sign-up-box {
    width: 100%;
    height: 365px;
    display: flex;
    margin-top: 30px;
}

.log-in-box {
    width: 100%;
    height: 295px;
    display: flex;
    margin-top: 30px;
}

.sign-up-form {
    margin: auto;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #2c303c;
}

.sign-up-form h2 {
    font-family: 'Montserrat', sans-serif;
    color: #2F363E;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 0.07em;
    margin-bottom: 10px;
}

.sign-up-form input {
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin: 25px auto;
    padding-left: 12px;
    font-size: 16px;
    width: 290px;
    height: 40px;
    background-color: #2c303c;
    color: #2c303c;
    border: 0px solid lightgray;
    border-bottom-width: 2px;
    background-color: transparent;
}

.sign-up-form input:focus {
    outline: none !important;
}

.sign-up-btn {
    width: 100%;
    margin: 22px auto;
    text-align: center;
    
}

.sign-up-btn a {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 auto;
    font-size: 18px;
    letter-spacing: 0.05em;
    padding: 18px 105px;
    background-color: #37B650;
    color: white;
}

.sign-up-btn-text {
    width: 100%;
    margin: 10px auto;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #484C4E;
}

.sign-up-btn-text a {
    color: #484C4E;
    text-decoration: none;
}

.sign-up-btn-text a:hover {
    color: #2870A6;
    text-decoration: none;
}

/*** DASHBOARD PAGE ***/

.dash-container {
    display: flex;
}

.nav-sidebar {
    width: 200px;
    height: 100vh;
    background-color: #E0E4EF;
    position: relative;
    transition: all linear 0.5s;

}

.sidebar-logo {
    background-color: #2870A6;
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 50px;
    width: 100%;
    position: absolute;
    display: flex;
    top: 0;
}

.sidebar-logo h2 {
    margin: auto 0;
    margin-left: 20px;
}

.profile-pic {
    z-index: 100;
    background-image: url("https://wallpaperscraft.com/image/emma_watson_brunette_eyes_face_black_and_white_64219_1024x1024.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 190px;
    position: absolute;
    display: block;
    top: 50px;
}

.sidebar-menu-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.today-box {
    width: 100%;
    height: 138px;
    position: absolute;
    top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
    border-bottom: 2px solid #d1d1d1;
}

.today-button {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #526383;
    font-size: 400;
}

.today-button h4 {
    margin-bottom: -30px;
}

.today-button h1 {
    font-family: 'Open Sans', sans-serif;
    color: #2870A6;
    font-size: 3.5em;
}

.stats-box {
    width: 100%;
    height: 138px;
    position: absolute;
    top:210px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0;
    border-bottom: 2px solid #d1d1d1;
}

.stats-button {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #526383;
    font-size: 400;
}

.stats-button i {
    font-size: 3em;
    color: #2870A6;
}

.chat-box {
    width: 100%;
    height: 138px;
    position: absolute;
    top: 348px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
    border-bottom: 2px solid #d1d1d1;
}

.chat-button {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #526383;
    font-size: 400;
}

.chat-button i {
    font-size: 3em;
    color: #2870A6;
}

.timer-background {
    background-color: #202934;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hamburger {
    color: white;
    font-size: 1.8em;
    height: 100%;
    display: flex;
    margin-left: 20px;
}

.hamburger i {
    margin: auto 0;
}

.timer {
    margin: auto;
    text-align: center;
    color: white;
    font-size: 4em;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1em;
}

.timer h1 {
    margin: 0;
}

.timer i {
    color: #37B650;
    cursor: pointer;
}

.settings {
    z-index: 150;
    position: absolute;
    right: 50px;
    bottom: 35px;
    color: white;
    font-size: 2.5em;
}

.settings i:hover {
    cursor: pointer;
}

.setting-btns {
    width: 70px;
    height: 92px;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 32px;
    bottom: 35px;
}

.btn {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.btn:hover {
    cursor: pointer;
}

#white-btn {
    background-color: white;
}

#blue-btn {
    background-color: dodgerblue;
}

#red-btn {
    background-color: orangered;
}

#purple-btn {
    background-color: rebeccapurple;
}

#orange-btn {
    background-color: darkorange;
}

/***STATS PAGE***/

.stats-container {
    display: flex;
}
.stats-content {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
}

.stats-banner {
    width: 80%;
    height: 200px;
    display: flex;
    margin: 0 auto;
    margin-top: 55px;
    margin-bottom: 45px;
}

.stats-banner h1 {
    color: #475159;
    font-size: 3.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.03em;
    margin-bottom: -20px;
}

.stats-banner h4 {
    font-family: 'Montserrat', sans-serif;
    color: #2870A6;
    font-weight: 400;
    font-size: 1.1em;
}

/*
.stats-banner span {
    font-weight: 700;
}
*/

.todays-stats {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #e5e5e5;
}

.weekly-stats {
    flex: 1;
    display: flex;
    border-right: 2px solid #e5e5e5;
}

.monthly-stats {
    flex: 1;
    display: flex;
}

.num {
    margin: auto;
    text-align: center;
}

.graph {
    width: 100%;
    height: 400px;
    display: flex;
}

.graph img {
    margin: auto;
}

.follower-stats {
    width: 100%;
    height: 600px;
    background-color: #f4f5f7;
}

.chart {
    background-color: #fff;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.ten-day-header {
     margin: 0 auto;
     text-align: center;
     margin-top: 30px;
     margin-bottom: 12px;
}

.ten-day-header p {
    font-family: 'Montserrat', sans-serif;
    color: dimgray;
    letter-spacing: 0.05em;
}

.ten-day-header h3 {
    margin: 0 auto;
    margin-bottom: -10px;
    font-family: 'Montserrat', sans-serif;
    color: #475159;
    letter-spacing: 0.05em;
    padding-bottom: 3px;
    border-bottom: 3px solid #3787BF;
    font-weight: 600;
    text-transform: uppercase;
}

canvas {
    background-color: #fff;
    padding-left: 0;
    padding-right: 0;
    margin: auto;
    display: block;
    width: 90%;
    height: 70%;
}

.chart-btns {
    margin: 0 auto;
    margin-bottom: 50px;
}

.chart-btns a {
    padding: 10px 18px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #3787BF;
    margin: 0 8px;
    border: 2px solid #1c5d8b;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.05em;
    font-weight: 400;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #202934;
    display: flex;
}

.footer p {
    margin: auto;
    color: #68798D;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.05em;
}

/*** TEST PAGE ***/

.test-wrapper {
    width: 100%;
    height: 100%;
}

.left-sidebar {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
    width:170px;
    background: #2F363E;
    height: 100%;
    display: flex;
}

.sidebar-menu {
    margin: 0 auto;
    margin-top: 50px;
    padding: 7px;
    border-bottom: 2px solid #fff;
    color: #fff;
    width: 100%;
    height: 40px;
    text-align: center;
    display: flex;
}

.sidebar-menu h3 {
    margin: auto;
}
.main-content {
    background:#fff;
    min-height: 100vh;
    margin-left: 0;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
}

.right-sidebar {
    right:0px;
    top:50px;
    width:200px;
    background: #E0E4EF;
    height: 100%; 
    position: fixed;
}

.following-label {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    letter-spacing: 0.07em;
    color: #8b8f9a;
    width: 100%;
    height: 30px;
    text-align: center;
    font-weight: 200;
    margin-top: 100px;
    margin: 0;
/*    background-color: #202934;*/
}

.friend {
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom: 1px solid #d1d1d1;
}

.friend img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: auto 0;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
}

.friend h3 {
    color: #434A4F;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    letter-spacing: 0.04em;
    margin: auto 0;
    margin-left: 70px;
    margin-bottom: 3px;
}

.progress {
    width: 100px;
    height: 7px;
    background-color: #37b650;
    border-radius: 10%;
    display: flex;
    margin: auto;
    margin-left: 70px;
    margin-top: 3px;
}

.progress p {
    position: absolute;
    right: 12px;
    bottom: 0;
}

.progress2 {
    width: 34px;
    height: 7px;
    background-color: #37b650;
    border-radius: 10%;
    display: block;
    margin: auto;
    margin-left: 70px;
    margin-top: 3px;
}

.progress3 {
    width: 70px;
    height: 7px;
    background-color: #37b650;
    border-radius: 10%;
    display: block;
    margin: auto;
    margin-left: 70px;
    margin-top: 3px;
}

.nav-logo {
    position: absolute;
    display: flex;
    width: 170px;
    height: 100%;
    background-color: #2870A6;
    left: 0
}

.nav-logo h2 {
    margin: auto 0;
    margin-left: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.stats-profile-pic {
    z-index: 100;
    background-image: url("https://wallpaperscraft.com/image/emma_watson_brunette_eyes_face_black_and_white_64219_1024x1024.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 190px;
    position: absolute;
    display: block;
    top: 0;
}

.cover-image {
    width: 100%;
    height: 390px;
    margin-top: 50px;
/*    background-image: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)), url('https://static.pexels.com/photos/25734/pexels-photo-large.jpg');*/
    background-size: cover;
    background-position:left;
    display: flex;
}

.edit-profile {
    position: absolute;
    right: 210px;
    top: 70px;
    width: 50px;
    height: 50px;
    color: rgba(255,255,255,0.6);
    font-size: 2em;
}

.edit-profile a {
    color: rgba(255,255,255,0.6);
}

.edit-profile i:hover {
    color: rgba(255,255,255,1);
    cursor: pointer;
}

.profile-info {
    width: 100%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.overlay {
  position: fixed;
  width: 775px;
  height: 450px;
  z-index: 100;
  overflow: auto;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  background-color: #fff;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  display: flex;
}

.images-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.edit-cover-pic {
    width: 100%;
    height: 275px;
    background-size: cover;
    background-position: center;
}

.edit-profile-pic {
    width: 100%;
    height: 275px;
    display: flex;
    background-size: cover;
    background-position: center;
}

/* INPUT TYPE FILE BUTTONS */

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    display:inline-block;
    margin-top: 100px;
    margin-left: 115px;
    background-color: #fff;
    color: #232D38;
    height: 20px;
    
}

.custom-file-upload2 {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    display:inline-block;
    margin-top: 100px;
    margin-left: 114px;
    background-color: #fff;
    height: 20px;
    
}

/* ----------------------- */

.info-column {
    flex: 1;
}

.info-column i {
    position: absolute;
    right: 12px;
    top: 9px;
    color: #939393;
}

.info-column i:hover {
    cursor: pointer;
}

.info-form {
    width: 100%;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.bio-box {
    width: 100%;
    height: 250px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.name-label {
    position: absolute;
    top: 33px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #2f363e;
    font-size: 15px;
}

.site-label {
    position: absolute;
    top: 126px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #2f363e;
    font-size: 15px;
}

.info-form-wrapper {
    width: 100%;
    height: 60%;
    margin: auto;
}

.info-form input {
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin: 0 auto;
    border-radius: 4%;
    margin-bottom: 35px;
    padding-left: 12px;
    font-size: 16px;
    width: 290px;
    height: 40px;
    background-color: #F5F5F5;
    color: #2c303c;
    border: 1px solid lightgray;
}

.info-form input:focus {
    outline: none !important;
}

.bio-box textarea {
    font-family: 'Montserrat', sans-serif;
    display: block;
    line-height: 24px;
    margin: 0 auto;
    border-radius: 2%;
    margin-bottom: 30px;
    padding-left: 12px;
    padding-top: 9px;
    font-size: 16px;
    width: 290px;
    height: 120px;
    background-color: #F5F5F5;
    color: #2c303c;
    border: 1px solid lightgray;
    resize: none;
}

.bio-box textarea:focus {
    outline: none !important;
}

.bio-box a {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 10px 18px;
    margin-right: 10px;
    background-color: #37b650;
    border: 2px solid #29863b;
    margin: 0 auto;
}

.fade {
  position: fixed;
  left: 0%;
  top: 0%;
  background-color: black;
  -moz-opacity: 0.6;
  opacity: .60;
  filter: alpha(opacity=70);
  width: 100%;
  height: 100%;
  z-index: 90;
}

.profile-image {
    margin: 30px auto;
    margin-bottom: 60px;
    width: 130px;
    height: 130px;
    border: 2px solid #fff;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
}

.profile-description {
    text-align: center;
    letter-spacing: 0.05em;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    margin-top: -30px;
    width: 475px;
    color: #fff;
}

.profile-description h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5em;
    margin: 0;
}

.profile-description p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.07em;
    line-height: 23px;
}

.profile-description a {
    color: #42a0e2;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    border-bottom: 2px solid #42a0e2;
}

.follow-bar {
    max-width: 100%;
    height: 72px;
    background-color: #202934;
    position: relative;
    display: flex;
}

.profile-follow-bar {
    max-width: 100%;
    height: 25px;
    background-color: #202934;
    position: relative;
    display: flex;
}

.profile-btns {
    width: 270px;
    height: 100%;
    margin: auto;
    text-align: center;
    display: flex;
}

.follow-btn {
    background-color: #37b650;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #fff;
    border-radius: 4%;
    padding: 7px 14px;
    margin: auto;
}

.follow-btn:last-child {
    background-color: #EF4B50;
}

/*
.follow-bar-info {
    height: 100%;
    width: 500px;
    background-color: red;
    position: absolute;
    left: 50px;
    display: flex;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    letter-spacing: 0.05em;
}
*/

.age {
    display: inline-block;
    flex-direction: column;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: 0.07em;
    text-align: center;
    color: #728088;
    margin: 0 40px;
    margin-left: 100px;
    height: 90%;
}

.member-since {
    display: inline-block;
    flex-direction: column;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: 0.07em;
    text-align: center;
    color: #728088;
    margin-right: 30px;
    height: 90%;
}

.total-poms {
    display: inline-block;
    flex-direction: column;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: 0.07em;
    text-align: center;
    color: #728088;
    margin-right: 20px;
    height: 70%;
}

.follow-bar h2 {
    margin-top: -12px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0.07em;
    font-weight: 400;
}

.stats-footer {
    width: 100%;
    height: 80px;
    margin-top: 0;
    display: flex;
}

.stats-footer a {
    margin: auto;
    margin-top: 0px;
    padding: 12px 15px;
    background-color: #EF4B50;
    font-size: 15px;
}

/* , url('https://static.pexels.com/photos/15217/pexels-photo.jpg');*/