html, body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
}

/**HOMEPAGE**/

.nav {
    width: 100%;
    height: 50px;
    background-color: #29AF91; 
    position: relative;
    display: flex;
}

.logo {
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    display: flex;
    margin-left: 20px;
}

.logo h2 {
    margin: auto 0;
}

.nav-links {
    position: absolute;
    height: 50px;
    right: 25px;
    top: 1px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.9em;
}

.nav-links p {
    margin-bottom: 30px;
} 
.nav-links a {
    color: white;
    text-decoration: none;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(44, 48, 60, 0.85), rgba(44, 48, 60, 0.85)), url("../Images/hero.jpg");
/*    background-color: #29AF91;*/
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.title {
    margin: auto;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.title h1 {
    font-size: 5em;
    margin-bottom: 0;
}

.title h2 {
    font-size: 2.3em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 0;
}

.title p {
    font-family: 'Open Sans', serif;
    font-size: 20px;
    font-size: 400;
    line-height: 28px;
    letter-spacing: 0.05em;
}

.title span {
    border-bottom: 3px solid white;
}

.home-buttons {
    margin-top: 50px;
}

.title a {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 12px 16px;
    background-color: #366AB2;
    border-radius: 3%;
    margin-right: 10px;
}

.title a:last-child {
    background-color: #29AF91;
}

/**SIGN UP PAGE**/

.sign-up-box {
    width: 100%;
    height: 365px;
    display: flex;
}

.log-in-box {
    width: 100%;
    height: 295px;
    display: flex;
}

.sign-up-form {
    margin: auto;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #2c303c;
}

.sign-up-form h2 {
    font-family: 'Montserrat', sans-serif;
    color: #2c303c;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 0.07em;
    margin-bottom: 10px;
}

.sign-up-form input {
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin: 25px auto;
    padding-left: 12px;
    font-size: 16px;
    width: 290px;
    height: 40px;
    background-color: #2c303c;
    color: #2c303c;
    border: 0px solid lightgray;
    border-bottom-width: 2px;
    background-color: transparent;
}

.sign-up-form input:focus {
    outline: none !important;
}

.sign-up-btn {
    width: 100%;
    margin: 15px auto;
    text-align: center;
    border-radius: 5%;
    
}

.sign-up-btn a {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 auto;
    font-size: 18px;
    letter-spacing: 0.05em;
    padding: 18px 105px;
    background-color: #366AB2;
    color: white;
}

.sign-up-btn-text {
    width: 100%;
    margin: 35px auto;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #484C4E;
}

.sign-up-btn-text a {
    color: #484C4E;
    text-decoration: none;
}

.sign-up-btn-text a:hover {
    color: #29AF91;
    text-decoration: none;
}

/*** DASHBOARD PAGE ***/

.dash-container {
    display: flex;
}

.nav-sidebar {
    width: 200px;
    height: 100vh;
    background-color: #EBEAE4;
    position: relative;
    transition: all linear 0.5s;

}

.sidebar-logo {
    background-color: #29AF91;
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 50px;
    width: 100%;
    position: absolute;
    display: flex;
    top: 0;
}

.sidebar-logo h2 {
    margin: auto 0;
    margin-left: 20px;
}

.profile-pic {
    z-index: 100;
    background-image: url("https://wallpaperscraft.com/image/emma_watson_brunette_eyes_face_black_and_white_64219_1024x1024.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 190px;
    position: absolute;
    display: block;
    top: 50px;
}

.sidebar-menu-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.today-box {
    width: 100%;
    height: 138px;
    position: absolute;
    top: 240px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
    border-bottom: 2px solid gainsboro;
}

.today-button {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #71767c;
    font-size: 400;
}

.today-button h4 {
    margin-bottom: -30px;
}

.today-button h1 {
    color: #29AF91;
    font-size: 3.5em;
}

.stats-box {
    width: 100%;
    height: 138px;
    position: absolute;
    top: 410px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0;
    border-bottom: 2px solid gainsboro;
}

.stats-button {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #71767c;
    font-size: 400;
}

.stats-button i {
    font-size: 3em;
    color: #29AF91;
}

.chat-box {
    width: 100%;
    height: 138px;
    position: absolute;
    top: 550px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
    border-bottom: 2px solid gainsboro;
}

.chat-button {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #71767c;
    font-size: 400;
}

.chat-button i {
    font-size: 3em;
    color: #29AF91;
}

.timer-background {
    background-color: #2c303c;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hamburger {
    color: white;
    font-size: 1.8em;
    height: 100%;
    display: flex;
    margin-left: 20px;
}

.hamburger i {
    margin: auto 0;
}

.timer {
    margin: auto;
    text-align: center;
    color: white;
    font-size: 4em;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1em;
}

.timer h1 {
    margin: 0;
}

.timer i {
    color: #29AF91;
    cursor: pointer;
}

.settings {
    z-index: 150;
    position: absolute;
    right: 50px;
    bottom: 35px;
    color: white;
    font-size: 2.5em;
}

.settings i:hover {
    color: #29AF91;
    cursor: pointer;
}

.setting-btns {
    width: 70px;
    height: 292px;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 32px;
    bottom: 35px;
}

.btn {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.btn:hover {
    cursor: pointer;
}

#green-btn {
    background-color: springgreen;
}

#blue-btn {
    background-color: dodgerblue;
}

#red-btn {
    background-color: orangered;
}

#purple-btn {
    background-color: rebeccapurple;
}

#orange-btn {
    background-color: darkorange;
}

/***STATS PAGE***/

.stats-content {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
}

.stats-banner {
    width: 80%;
    height: 200px;
    display: flex;
    margin: 70px auto;
}

.stats-banner h1 {
    color: #8e959d;
    font-size: 3.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 0.03em;
    margin-bottom: -20px;
}

.stats-banner h4 {
    font-family: 'Montserrat', sans-serif;
    color: #29AF91;
    font-weight: 400;
    font-size: 1.2em;
}

.stats-banner span {
    font-weight: 700;
}

.todays-stats {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #e5e5e5;
}

.weekly-stats {
    flex: 1;
    display: flex;
    border-right: 2px solid #e5e5e5;
}

.monthly-stats {
    flex: 1;
    display: flex;
}

.num {
    margin: auto;
    text-align: center;
}

.graph {
    width: 100%;
    height: 400px;
    display: flex;
}

.graph img {
    margin: auto;
}

.follower-stats {
    width: 100%;
    height: 600px;
    background-color: #f4f5f7;
}





